<h5 class="card-header"><b>Date of appointment: <%= appointment.appointment_date %> </b></h5>
<div class="card-body">
  <h5 class="card-title"><b>Name of Patient:</b> <%= appointment.patient.full_name %></h5>
  <p class="card-text"><small class="text-muted"><b>City of Patient:</b> <%= appointment.patient.city %></small></p>
  <p class="card-text"><b>Observations:</b> <%= appointment.observations %></p>
  <a onclick="visit('/appointments/<%= appointment.id %>')" href="#" class="btn btn-primary">More information</a>
</div>